html {
  font-family: sans-serif;
}

body {
  background-color: #f7f9fb;
  transition: 500ms;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 15px auto 303px 15px;
  grid-template-rows: 40px auto;
  grid-template-areas: "nav nav nav nav" ". canvas sidebar .";
  grid-row-gap: 20px;
  grid-column-gap: 15px;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

nav {
  height: 40px;
  width: 100%;
  transition: 400ms;
  grid-area: nav;
  position: fixed;
  z-index: 1;
}

nav:hover {
  grid-template-rows: 60px 300px;
  height: 60px;
}
nav:hover li {
  transform: translateY(10px);
}
nav:hover #home svg {
  width: 35px;
  height: 35px;
}
nav:hover #options svg {
  width: 39px;
  height: 39px;
}

ul {
  transition: 400ms;
  list-style-type: none;
  background-color: #5889DA;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 130px) auto 45px 10px;
  grid-template-rows: 40px;
  grid-template-areas: "home asort insertion bubble . options .";
}

li {
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f9fb;
  background-color: #5889DA;
  font-size: 16px;
  cursor: default;
}

li:hover {
  background-color: #f7f9fb;
  color: #2F6CD0;
}
li:hover svg {
  fill: #5889DA;
}

li:active {
  background-color: #2F6CD0;
  color: #f7f9fb;
}
li:active svg {
  fill: #f7f9fb;
}

#home {
  grid-area: home;
}

#Quick-sort {
  grid-area: asort;
}

#Insertion-sort {
  grid-area: insertion;
}

#options {
  grid-area: options;
  display: inline-block;
  padding-top: 3px;
}

#options:hover #options-dropdown {
  height: auto;
}

#Bubble-sort {
  grid-area: bubble;
}

canvas {
  transition: 600ms;
  grid-area: canvas;
  opacity: 0;
}

.nav-active {
  background-color: #f7f9fb;
  color: #2F6CD0;
}

#sidebar {
  grid-area: sidebar;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 50px) repeat(2, 60px) repeat(3, 50px);
  grid-template-areas: "shuffle sort" "start stop" "speed speed" "size size" "color color" "track track" "reset reset";
  align-content: center;
  justify-content: stretch;
}

button {
  outline: none;
  transition: 500ms;
  border: none;
  border-color: #2F6CD0;
  border-width: 4px;
  border-style: solid;
  background-color: #2F6CD0;
  color: #f7f9fb;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

button:hover {
  background-color: #f7f9fb;
  color: #2F6CD0;
}
button:hover .triangle {
  border-left: 24px solid #2F6CD0;
}
button:hover .square {
  background-color: #2F6CD0;
}
button:hover svg {
  padding-top: 0;
  fill: #2F6CD0;
}

button:active {
  background-color: #2F6CD0;
  color: #f7f9fb;
}
button:active .triangle {
  border-left: 24px solid #f7f9fb;
}
button:active .square {
  background-color: #f7f9fb;
}
button:active svg {
  fill: #f7f9fb;
}

input[type=range] {
  transition: 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  height: 20px;
  width: 100%;
  background-color: #f7f9fb;
  opacity: 0.8;
}

input:hover {
  opacity: 1;
}

input::-webkit-slider-thumb {
  transition: 100ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #2F6CD0;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 2px;
}

input::-webkit-slider-thumb:hover {
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 0px;
}

label {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  padding: 5px 5px;
  background-color: #2F6CD0;
  color: #f7f9fb;
  text-align: center;
}

#shuffle-btn {
  grid-area: shuffle;
}

#sort-btn {
  grid-area: sort;
}

#start-btn {
  grid-area: start;
}

#stop-btn {
  grid-area: stop;
}

#speed-sld {
  grid-area: speed;
}

#size-sld {
  grid-area: size;
}

#reset-btn {
  grid-area: reset;
}

#color {
  grid-area: color;
}

#track {
  grid-area: track;
}

.checkbox {
  background-color: #2F6CD0;
  color: #f7f9fb;
  display: flex;
  justify-content: space-around;
}

input[type=checkbox] {
  transition: 500ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 50px;
  height: 20px;
  background-color: #f7f9fb;
  border-radius: 20px;
  opacity: 0.8;
}

input[type=checkbox]::before {
  transition: 300ms;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #2F6CD0;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 2px;
  transform: translateX(0);
}

input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:checked:before {
  display: inline-block;
  transform: translateX(30px);
}

.triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 24px solid #f7f9fb;
  border-bottom: 12px solid transparent;
  margin: auto;
}

.square {
  height: 24px;
  width: 24px;
  background-color: #f7f9fb;
  margin: auto;
}

svg {
  transition: 400ms;
  fill: #f7f9fb;
}

#options-dropdown {
  transition: 300ms;
  height: 0px;
  width: 160px;
  position: absolute;
  right: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #2F6CD0;
}

.dropdown-text {
  height: 100px;
}

/*# sourceMappingURL=main.css.map */
