html {
  font-family: sans-serif;
}

body {
  background-color: #F2F2F2;
  transition: 500ms ease-out;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 15px auto 303px 15px;
  grid-template-rows: 40px auto;
  grid-template-areas: "nav nav nav nav" ". canvas sidebar .";
  grid-row-gap: 20px;
  grid-column-gap: 15px;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 635px) {
  body {
    background-color: #F2F2F2;
    transition: 500ms ease-out;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 15px auto 303px 15px;
    grid-template-rows: 40px auto auto;
    grid-template-areas: "nav nav nav nav" ". canvas canvas ." ". sidebar sidebar .";
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
}
nav {
  height: 40px;
  width: 100%;
  transition: 300ms ease-out;
  grid-area: nav;
  position: fixed;
  z-index: 1;
  box-shadow: 0 8px 6px -6px #999;
}

nav:hover {
  grid-template-rows: 55px 300px;
  height: 55px;
}
nav:hover li {
  transform: translateY(10px);
}
nav:hover #home svg {
  width: 35px;
  height: 35px;
}
nav:hover #options svg {
  width: 39px;
  height: 39px;
}

ul {
  transition: 300ms ease-out;
  list-style-type: none;
  background-color: #1B1D40;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 130px) auto 45px 10px;
  grid-template-rows: 40px;
  grid-template-areas: "home selection merge quick insertion bubble . options .";
}

li {
  transition: 300ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f9fb;
  background-color: #1B1D40;
  font-size: 16px;
  cursor: default;
}

li:hover {
  background-color: #F2F2F2;
  color: #2F6CD0;
}
li:hover svg {
  fill: #1B1D40;
}

li:active {
  background-color: #1B1D40;
  color: #F2F2F2;
}
li:active svg {
  fill: #F2F2F2;
}

#home {
  grid-area: home;
}

#Selection-sort {
  grid-area: selection;
}

#Merge-sort {
  grid-area: merge;
}

#Quick-sort {
  grid-area: quick;
}

#Insertion-sort {
  grid-area: insertion;
}

#options {
  grid-area: options;
  display: inline-block;
  padding-top: 3px;
}

#options:hover #options-dropdown {
  height: auto;
}

#Bubble-sort {
  grid-area: bubble;
}

canvas {
  transition: 500ms ease-out;
  grid-area: canvas;
  opacity: 0;
}

.nav-active {
  background-color: #F2F2F2;
  color: #2F6CD0;
}

#sidebar {
  grid-area: sidebar;
  place-self: center stretch;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 50px) repeat(2, 60px) repeat(3, 50px);
  grid-template-areas: "shuffle sort" "reset reset" "speed speed" "size size" "color color" "track track" "swap count";
}

button {
  outline: none;
  transition: 300ms ease-out;
  border: none;
  border-color: #172DA6;
  border-width: 4px;
  border-style: solid;
  background-color: #172DA6;
  color: #f7f9fb;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

button:hover {
  background-color: #f7f9fb;
  color: #172DA6;
}
button:hover .triangle {
  border-left: 24px solid #172DA6;
}
button:hover .square {
  background-color: #172DA6;
}
button:hover svg {
  padding-top: 0;
  fill: #172DA6;
}

button:active {
  background-color: #172DA6;
  color: #f7f9fb;
}
button:active .triangle {
  border-left: 24px solid #F2F2F2;
}
button:active .square {
  background-color: #F2F2F2;
}
button:active svg {
  fill: #F2F2F2;
}

input[type=range] {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  height: 20px;
  width: 100%;
  background-color: #f7f9fb;
  opacity: 0.8;
}

input:hover {
  opacity: 1;
}

input::-webkit-slider-thumb {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #172DA6;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 2px;
}

input::-webkit-slider-thumb:hover {
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 0px;
}

label {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  padding: 5px 5px;
  background-color: #172DA6;
  color: #f7f9fb;
  text-align: center;
}

#shuffle-btn {
  grid-area: shuffle;
}

#sort-btn {
  grid-area: sort;
}

#start-btn {
  grid-area: start;
}

#stop-btn {
  grid-area: stop;
}

#speed-sld {
  grid-area: speed;
}

#size-sld {
  grid-area: size;
}

#reset-btn {
  grid-area: reset;
}

#reset-btn:hover svg {
  transform: rotate(180deg);
}
#reset-btn:hover:active svg {
  transform: rotate(360deg);
}

#color {
  grid-area: color;
}

#track {
  grid-area: track;
}

#swap {
  grid-area: swap;
  background-color: #172DA6;
  color: #f7f9fb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#swap-counter {
  grid-area: count;
  background-color: #172DA6;
  color: #f7f9fb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}

.checkbox {
  background-color: #172DA6;
  color: #f7f9fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type=checkbox] {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 50px;
  height: 20px;
  background-color: #f7f9fb;
  border-radius: 20px;
  opacity: 0.8;
}

input[type=checkbox]::before {
  transition: 300ms ease-out;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #172DA6;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 2px;
  transform: translateX(0);
}

input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:checked:before {
  display: inline-block;
  transform: translateX(30px);
}

.triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 24px solid #f7f9fb;
  border-bottom: 12px solid transparent;
  margin: auto;
}

.square {
  height: 24px;
  width: 24px;
  background-color: #f7f9fb;
  margin: auto;
}

svg {
  transition: 300ms ease-out;
  fill: #f7f9fb;
}

/*# sourceMappingURL=main.css.map */
