$bg-color: #F2F2F2;
$tx-color: #f7f9fb;

$color-1: #EDE7F6;
$color-2: #D1C4E9;
$color-3: #B39DDB;
$color-4: #9575CD;
$color-5: #7E57C2;
$color-6: #673AB7;
$color-7: #5E35B1;
$color-8: #512DA8;
$color-9: #4527A0;
$color-10: #311B92;
$color-11: #B388FF;
$color-12: #7C4DFF;
$color-13: #651FFF;
$color-14: #6200EA;

$tx-size: 16px;

$tr-func: ease-out;
$tr-dur: 300ms;

$tr-long-dur: 500ms;