@import 'elements/nav', 'elements/sidebar';

html {
  font-family: sans-serif;
}

body {
  background-color: $bg-color;

  transition: $tr-long-dur $tr-func;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 15px auto 303px 15px;
  grid-template-rows: $nav-height auto;
  grid-template-areas:
    'nav nav nav nav'
    '. canvas sidebar .';
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 635px) {
  body {
    background-color: $bg-color;

    transition: $tr-long-dur $tr-func;

    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 15px auto 303px 15px;
    grid-template-rows: $nav-height auto auto;
    grid-template-areas:
            'nav nav nav nav'
            '. canvas canvas .'
            '. sidebar sidebar .';
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
}

canvas {
  transition: $tr-long-dur $tr-func;
  grid-area: canvas;
  opacity: 0;
}

svg {
  transition: $tr-dur $tr-func;
   fill: $sidebar-tx-color;
 }

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}