nav {
  height: 45px;
  width: 100%;
  transition: 300ms ease-out;
  position: fixed;
  box-shadow: 0 8px 6px -6px #999;
}
nav ul {
  transition: 300ms ease-out;
  list-style-type: none;
  background-color: #311B92;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
nav ul li {
  transition: 300ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f9fb;
  background-color: #311B92;
  font-size: 16px;
  width: 130px;
  cursor: default;
}
nav ul li:hover {
  background-color: #f7f9fb;
  color: #311B92;
}
nav ul li:hover svg {
  fill: #311B92;
}
nav ul li:active {
  background-color: #311B92;
  color: #f7f9fb;
}
nav ul li:active svg {
  fill: #f7f9fb;
}
nav ul .nav-active {
  background-color: #f7f9fb;
  color: #311B92;
}

#sidebar {
  grid-area: sidebar;
  background-color: #512DA8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 5px;
}
#sidebar button {
  outline: none;
  transition: 300ms ease-out;
  border: none;
  background-color: #512DA8;
  color: #f7f9fb;
  width: 100%;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}
#sidebar button:hover {
  background-color: #f7f9fb;
  color: #512DA8;
}
#sidebar button:hover .triangle {
  border-left: 24px solid #512DA8;
}
#sidebar button:hover .square {
  background-color: #512DA8;
}
#sidebar button:hover svg {
  padding-top: 0;
  fill: #512DA8;
}
#sidebar button:active {
  background-color: #512DA8;
  color: #f7f9fb;
}
#sidebar button:active .triangle {
  border-left: 24px solid #F2F2F2;
}
#sidebar button:active .square {
  background-color: #F2F2F2;
}
#sidebar button:active svg {
  fill: #F2F2F2;
}
#sidebar #reset-btn:hover svg {
  transform: rotate(180deg);
}
#sidebar #reset-btn:hover:active svg {
  transform: rotate(360deg);
}
#sidebar label {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidebar .slider {
  height: 50px;
  padding: 5px 5px;
  background-color: #512DA8;
  color: #f7f9fb;
  text-align: center;
}
#sidebar input[type=range] {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  height: 20px;
  width: 100%;
  background-color: #f7f9fb;
  opacity: 0.8;
}
#sidebar input:hover {
  opacity: 1;
}
#sidebar input::-webkit-slider-thumb {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #512DA8;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 3px;
}
#sidebar input::-webkit-slider-thumb:hover {
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 0;
}
#sidebar .checkbox {
  height: 50px;
  background-color: #512DA8;
  color: #f7f9fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sidebar input[type=checkbox] {
  transition: 300ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 50px;
  height: 20px;
  background-color: #f7f9fb;
  border-radius: 20px;
  opacity: 0.7;
}
#sidebar input[type=checkbox]::before {
  transition: 300ms ease-out;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #512DA8;
  border-style: solid;
  border-color: #f7f9fb;
  border-width: 2px;
  transform: translateX(0);
}
#sidebar input[type=checkbox]:hover {
  opacity: 1;
}
#sidebar input[type=checkbox]:checked:before {
  display: inline-block;
  transform: translateX(30px);
}

html {
  font-family: sans-serif;
}

body {
  background-color: #F2F2F2;
  transition: 500ms ease-out;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 15px auto 303px 15px;
  grid-template-rows: 45px auto;
  grid-template-areas: "nav nav nav nav" ". canvas sidebar .";
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 635px) {
  body {
    background-color: #F2F2F2;
    transition: 500ms ease-out;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 15px auto 303px 15px;
    grid-template-rows: 45px auto auto;
    grid-template-areas: "nav nav nav nav" ". canvas canvas ." ". sidebar sidebar .";
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
}
canvas {
  transition: 500ms ease-out;
  grid-area: canvas;
  opacity: 0;
}

svg {
  transition: 300ms ease-out;
  fill: #f7f9fb;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

/*# sourceMappingURL=main.css.map */
