@import 'elements/nav';

html {
  font-family: sans-serif;

  width: 100%;
  height: 100%;
}

body {
  background-color: $bg-color;

  transition: $tr-long-dur $tr-func;

  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

canvas {
  transition: $tr-long-dur $tr-func;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

svg {
  transition: $tr-dur $tr-func;
   fill: $tx-color;
 }

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}